
.input {

    height: 40px;
    width: 160px;
    margin-top: 20px;
    box-shadow: #282c34;
    border-radius: 10px;


}

.button {
    margin-top: 20px;
    border-radius: 10px;

    height: 30px;
    width: 80px;
    border: none;
    color: #464645;

}

.button1 {
    margin-top: 50px;

}

.button1:hover {
    background: #f8c785;
}

.button:hover {
    background: #f5d1a1;
}