.img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.boxImg {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 20px;
}

.line1Email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    margin-left: 20px;
}

.saveButton {
    margin-top: 20px;
}

.text {
    margin-left: 20px;
}

.boxAll {
    width: 100vw;
}


